In [1]:
import pandas as pd

In [2]:
import teradatasql

In [3]:
conn = teradatasql.connect(host="192.168.11.9", database="example", user="dbc", password="dbc")

In [4]:
import pandas as pd
from sklearn import datasets
iris = datasets.load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target_names[iris.target]

In [5]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [6]:
df.to_csv('iris.csv', index=False)

In [7]:
import teradataml as tdml
tdml.create_context(host="192.168.11.9", database="example", user="dbc", password="dbc")

Engine(teradatasql://:***@192.168.11.9?DATABASE=example&user=DBC)

In [8]:
pd_iris = pd.read_csv('iris.csv')
col = ['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'target']
pd_iris.columns = col

In [9]:
pd_iris

     sepallength  sepalwidth  petallength  petalwidth     target
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [10]:
tdml.copy_to_sql(df = pd_iris, schema_name='example', table_name='iris',
            index=True, index_label='idx', primary_index='idx', if_exists='replace')

/usr/local/lib/python3.11/site-packages/teradataml/dataframe/copy_to.py:1462: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  TIMESTAMP(timezone=True) if pt.is_datetime64_ns_dtype(df.dtypes[key])
/usr/local/lib/python3.11/site-packages/teradataml/dataframe/copy_to.py:1464: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  else _get_sqlalchemy_mapping_types(str(df.dtypes[key]))
/usr/local/lib/python3.11/site-packages/teradataml/dataframe/copy_to.py:1462: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  TIMESTAMP(timezone=True) if pt.is_datetime64_ns_dtype(df.dtypes[key])
/usr/local/lib/python3.11/site-packages/teradataml/dataframe/copy_to.py:1464: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  else _get_sqlalchemy_mapping_types(str(df.dtypes[key]))
/usr/local/lib/python3.11/site-packages/teradataml/dataframe/copy_to.py:1462: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  TIMESTAMP(timezone=True) if pt.is_datetime64_ns_dtype(df.dtypes[key])
/usr/local/lib/python3.11/site-packages/teradataml/dataframe/copy_to.py:1464: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  else _get_sqlalchemy_mapping_types(str(df.dtypes[key]))
/usr/local/lib/python3.11/site-packages/teradataml/dataframe/copy_to.py:1462: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  TIMESTAMP(timezone=True) if pt.is_datetime64_ns_dtype(df.dtypes[key])
/usr/local/lib/python3.11/site-packages/teradataml/dataframe/copy_to.py:1464: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  else _get_sqlalchemy_mapping_types(str(df.dtypes[key]))
/usr/local/lib/python3.11/site-packages/teradataml/dataframe/copy_to.py:1462: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  TIMESTAMP(timezone=True) if pt.is_datetime64_ns_dtype(df.dtypes[key])
/usr/local/lib/python3.11/site-packages/teradataml/dataframe/copy_to.py:1464: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  else _get_sqlalchemy_mapping_types(str(df.dtypes[key]))
/usr/local/lib/python3.11/site-packages/teradataml/dataframe/copy_to.py:1472: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  else TIMESTAMP(timezone=True) if pt.is_datetime64_ns_dtype(df.dtypes[key])

In [11]:
res = conn.cursor().execute("show table iris")
lines = list(res)

In [12]:
ddl = lines[0][0].replace('\r', "\n")

In [13]:
print(ddl)

CREATE MULTISET TABLE EXAMPLE.iris ,FALLBACK ,
     NO BEFORE JOURNAL,
     NO AFTER JOURNAL,
     CHECKSUM = DEFAULT,
     DEFAULT MERGEBLOCKRATIO,
     MAP = TD_MAP1
     (
      sepallength FLOAT,
      sepalwidth FLOAT,
      petallength FLOAT,
      petalwidth FLOAT,
      target VARCHAR(1024) CHARACTER SET UNICODE NOT CASESPECIFIC,
      idx BIGINT)
PRIMARY INDEX ( idx );

In [14]:
teradataml_iris = tdml.DataFrame.from_table("iris")

In [15]:
teradataml_iris.describe()

       sepallength  sepalwidth  petallength  petalwidth      idx
func
std          0.828       0.436        1.765       0.762   43.445
25%          5.100       2.800        1.600       0.300   37.250
50%          5.800       3.000        4.350       1.300   74.500
75%          6.400       3.300        5.100       1.800  111.750
max          7.900       4.400        6.900       2.500  149.000
min          4.300       2.000        1.000       0.100    0.000
mean         5.843       3.057        3.758       1.199   74.500
count      150.000     150.000      150.000     150.000  150.000

In [16]:
display.print_sqlmr_query = True

In [17]:
teradataml_iris.select('sepallength').sum().show_query()

'select sum(sepallength) AS sum_sepallength from (select sepallength from "iris") as temp_table'

In [18]:
sub = teradataml_iris[teradataml_iris['sepallength'] > 0.1]

In [19]:
sub.show_query()

'select * from "iris" where sepallength > CAST(0.1 as FLOAT)'

In [20]:
sub.select('sepalwidth').sum().show_query()

'select sum(sepalwidth) AS sum_sepalwidth from (select sepalwidth from (select * from "iris" where sepallength > CAST(0.1 as FLOAT)) as temp_table) as temp_table'

In [21]:
sub.select('sepalwidth').sum()

   sum_sepalwidth
0           458.6

In [22]:
sub.keys()

['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'target', 'idx']

In [23]:
query = sub.select('sepalwidth').sum().show_query()

In [29]:
res = conn.cursor().execute(f"explain {query}")
list(res)

[['  1) First, we lock EXAMPLE.iris in TD_MAP1 for read on a reserved'],
 ['     RowHash to prevent global deadlock.'],
 ['  2) Next, we lock EXAMPLE.iris in TD_MAP1 for read.'],
 ['  3) We do an all-AMPs SUM step in TD_MAP1 to aggregate from'],
 ['     EXAMPLE.iris by way of an all-rows scan with a condition of ('],
 ['     "EXAMPLE.iris.sepallength > 1.00000000000000E-001").  Aggregate'],
 ['     intermediate results are computed globally, then placed in Spool 3'],
 ['     in TD_Map1.  The size of Spool 3 is estimated with high confidence'],
 ['     to be 1 row (23 bytes).  The estimated time for this step is 0.01'],
 ['     seconds.'],
 ['  4) We do an all-AMPs RETRIEVE step in TD_Map1 from Spool 3 (Last Use)'],
 ['     by way of an all-rows scan into Spool 1 (group_amps), which is'],
 ['     built locally on the AMPs.  The size of Spool 1 is estimated with'],
 ['     high confidence to be 1 row (29 bytes).  The estimated time for'],
 ['     this step is 0.00 seconds.'],
 ['  5) Finally, we send out an END TRANSACTION step to all AMPs involved'],
 ['     in processing the request.'],
 ['  -> The contents of Spool 1 are sent back to the user as the result of'],
 ['     statement 1.  The total estimated time is 0.01 seconds.']]